*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../images/background-img.jpg");
}

.header{
    background-color: #e9e9e9;
    border-bottom:#777777;
}
.head1{
    background-color:#4aaaa5; 
    color:aliceblue;
    padding: 10px;
    font-family: 'IM Fell Great Primer', serif;
}
.container{
    color: #777777;
    border: #4aaaa5 1px solid;
}
.section{
   background-color: #F2F2F2;
}
.cardWidth{
    margin-left: 0%;
    margin-right: 0%;
    width: 85%;

}

/* new index */
hr{
    border: 2px;
}
hr.new1 {
    border-top: 1px solid #777777;
  }
.image-bg {
    width:100%;
    height:700px;
    background-image: url("/assets/images/style2-bg.png");
    background-size: 100% 700px;
    background-attachment: fixed;
    background-repeat: no-repeat; 
   }
.heads-bg{
    background-color: #3f2b96;
    opacity: 0.6;
    height: 700px;
    color:#fff;
}
.heads-bg h1{
    font-size: 50px;
    opacity: 1;
}
.profile{
    width:100%;
    height:700px;
    background-color:#E9E4F0;
    margin: 0%;
}
.about-me{
    width: 250px;
    height: 400px;
}
.img-containner{
    width: 250px;
    height: 400px;
    text-align: center;
    display: block;
}
.pro-img{
    height: 230px;
    width:220px;
}
.pro-details{
    width: 250px;
    height: 400px;
    text-align: center;
    display: block;
}

.experience{
    width:100%;
    height:700px;
    background-color: #a8c0ff;
    margin: 0%;
}
.project{
    width:100%;
    height:900px;
    margin: 0%;
    background: #0082c8;
}
.project-card{
    width: 320px; 
    height:180px;
    margin: 5px;
    position: relative;
}
.card-img{
    width: 100%; 
    height:100%;
    margin: 0px;
    padding: 0px;
    z-index: 8;
}
.card-body{
    width: 100%; 
    height:100%;
    position: absolute;
    top:0;
    z-index: 10;
   
}
.card-info{
    display: none;
    
}
.card-body:hover{
    background:rgba(65, 63, 63, 0.9);
}
.card-body:hover .card-info{
    display: block;
    transition-timing-function: ease-out;
    color: #fff;

}
.subtitle{
    width:100%;
    color: #fff;
    height: 100px;
}
.subtitle h3{
    height: 70px;
}
.icons i{
    font-size: 3em; 
    color: black;
}